name: Deploy to GAS

on:
  push:
    branches:
      - 'main'
      - 'master'
      - 'refactor/*'
      - 'feat/*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Clasp
        run: npm install -g @google/clasp

      - name: Generate Config Files
        run: |
          echo '${{ secrets.CLASP_CONFIG }}' > .clasp.json
          echo '${{ secrets.CLASP_SECRET }}' > ~/.clasprc.json

      - name: Deploy
        run: clasp push -f
